.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form_group {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.form_group .title {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 65px;
}

.form_group .avatar {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.form_group .avatar img {
    width: 100%;
    height: auto;
}

.input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}